extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Standard Inputs'
block content
    .container-fluid

        h5.mt-0 Forms
        p.mb-4 Bootstrap provides several form control styles, layout options, and custom components for creating a wide variety of forms.

        .cardbox
            .cardbox-body
                form(method='get', action="/")
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label With help
                            .col-lg-10
                                input.form-control(type='text')
                                span.form-text.text-muted A block of help text that breaks onto a new line and may extend beyond one line.
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label(for='input-id-1') Label focus
                            .col-lg-10
                                input#input-id-1.form-control(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Password
                            .col-lg-10
                                input.form-control(type='password', name='password')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Placeholder
                            .col-lg-10
                                input.form-control(type='text', placeholder='placeholder')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Disabled
                            .col-lg-10
                                input.form-control(type='text', placeholder='Disabled input here...', disabled='')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Static control
                            .col-lg-10
                                p.form-control-plaintext email@example.com
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Checkboxes and radios
                            .col-lg-10
                                .form-check
                                    label.form-check-label
                                        input.form-check-input(type='checkbox', value='')
                                        | Option one is this and that—be sure to include why it's great
                                .form-check
                                    label.form-check-label
                                        input.form-check-input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                        | Option one is this and that—be sure to include why it's great
                                .form-check
                                    label.form-check-label
                                        input.form-check-input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                                        | Option two can be something else and selecting it will deselect option one
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Inline checkboxes
                            .col-lg-10
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox1(type='checkbox', value='option1')
                                        |  a
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox2(type='checkbox', value='option2')
                                        |  b
                                .form-check.form-check-inline
                                    label.form-check-label
                                        input.form-check-input#inlineCheckbox3(type='checkbox', value='option3')
                                        |  c
                    fieldset.last-child
                        .form-group.row
                            label.col-lg-2.col-form-label Select
                            .col-lg-10
                                select.form-control(name='account')
                                    option Option 1
                                    option Option 2
                                    option Option 3
                                    option Option 4
                                br
                                .row
                                    .col-lg-4
                                        select.form-control(multiple='')
                                            option Option 1
                                            option Option 2
                                            option Option 3
                                            option Option 4
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input valid
                            .col-lg-10
                                input#inputSuccess1.form-control.is-valid(type='text')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input invalid
                            .col-lg-10
                                input#inputDanger1.form-control.is-invalid(type='text')
                                .invalid-feedback Sorry, that username&apos;s taken. Try another?
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Custom controls
                            .col-lg-10
                                p Checkboxes
                                .custom-control.custom-checkbox
                                    input#customCheck1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='customCheck1') Check this custom checkbox
                                p.mt-3 Radios
                                .custom-control.custom-radio
                                    input#customRadio1.custom-control-input(type='radio' name='customRadio')
                                    label.custom-control-label(for='customRadio1') Toggle this custom radio
                                .custom-control.custom-radio
                                    input#customRadio2.custom-control-input(type='radio' name='customRadio')
                                    label.custom-control-label(for='customRadio2') Or toggle this other custom radio
                                p.mt-3 Select
                                select.custom-select
                                    option(selected='') Open this select menu
                                    option(value='1') One
                                    option(value='2') Two
                                    option(value='3') Three
                                p.mt-3 Range
                                input#customRange1.custom-range(type='range')
                                p.mt-3 File
                                .custom-file
                                    input#customFile.custom-file-input(type='file')
                                    label.custom-file-label(for='customFile') Choose file

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Control sizing
                            .col-lg-10
                                input.form-control.form-control-lg(type='text', placeholder='.form-control-lg')
                                br
                                input.form-control(type='text', placeholder='Default input')
                                br
                                input.form-control.form-control-sm(type='text', placeholder='.form-control-sm')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Column sizing
                            .col-lg-10
                                .row
                                    .col-lg-2
                                        input.form-control(type='text', placeholder='.col-lg-2')
                                    .col-lg-3
                                        input.form-control(type='text', placeholder='.col-lg-3')
                                    .col-lg-4
                                        input.form-control(type='text', placeholder='.col-lg-4')
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Input groups
                            .col-lg-10
                                .input-group.mb-3
                                    .input-group-prepend
                                        span#basic-addon1.input-group-text @
                                    input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
                                .input-group.mb-3
                                    input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='basic-addon2')
                                    .input-group-append
                                        span#basic-addon2.input-group-text @example.com
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text $
                                    input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                                    .input-group-append
                                        span.input-group-text .00
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(type='checkbox' aria-label='Checkbox for following text input')
                                    input.form-control(type='text' aria-label='Text input with checkbox')
                                .input-group
                                    .input-group-prepend
                                        .input-group-text
                                            input(type='radio' aria-label='Radio button for following text input')
                                    input.form-control(type='text' aria-label='Text input with radio button')

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Button addons
                            .col-lg-10
                                .input-group.mb-3
                                    .input-group-prepend
                                        button.btn.btn-outline-secondary(type='button') Button
                                    input.form-control(type='text' placeholder='' aria-label='' aria-describedby='basic-addon1')
                                .input-group.mb-3
                                    input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='basic-addon2')
                                    .input-group-append
                                        button.btn.btn-success(type='button') Go!
                                .input-group.mb-3
                                    .input-group-prepend
                                        button.btn.btn-primary(type='button')
                                            em.ion-person
                                    input.form-control(type='text' placeholder='' aria-label='' aria-describedby='basic-addon1')
                                    .input-group-append
                                        button.btn.btn-primary(type='button')
                                            em.ion-person-stalker
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Multiple addons
                            .col-lg-10
                                .row
                                    .col-lg-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text $
                                                span.input-group-text 0.00
                                            input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                                    .col-lg-6
                                        .input-group
                                            input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                                            .input-group-append
                                                span.input-group-text $
                                                span.input-group-text 0.00

                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label With dropdowns
                            .col-lg-10
                                .input-group.mb-3
                                    .input-group-prepend
                                        button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Action
                                            a.dropdown-item(href='#') Another action
                                            a.dropdown-item(href='#') Something else here
                                            .dropdown-divider(role='separator')
                                            a.dropdown-item(href='#') Separated link
                                    input.form-control(type='text' aria-label='Text input with dropdown button')
                                .input-group
                                    input.form-control(type='text' aria-label='Text input with dropdown button')
                                    .input-group-append
                                        button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Action
                                            a.dropdown-item(href='#') Another action
                                            a.dropdown-item(href='#') Something else here
                                            .dropdown-divider(role='separator')
                                            a.dropdown-item(href='#') Separated link
                    fieldset
                        .form-group.row
                            label.col-lg-2.col-form-label Segmented
                            .col-lg-10
                                .input-group.mb-3
                                    .input-group-prepend
                                        button.btn.btn-outline-secondary(type='button') Action
                                        button.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                            span.sr-only Toggle Dropdown
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Action
                                            a.dropdown-item(href='#') Another action
                                            a.dropdown-item(href='#') Something else here
                                            .dropdown-divider(role='separator')
                                            a.dropdown-item(href='#') Separated link
                                    input.form-control(type='text' aria-label='Text input with segmented dropdown button')
                                .input-group
                                    input.form-control(type='text' aria-label='Text input with segmented dropdown button')
                                    .input-group-append
                                        button.btn.btn-outline-secondary(type='button') Action
                                        button.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                            span.sr-only Toggle Dropdown
                                        .dropdown-menu
                                            a.dropdown-item(href='#') Action
                                            a.dropdown-item(href='#') Another action
                                            a.dropdown-item(href='#') Something else here
                                            .dropdown-divider(role='separator')
                                            a.dropdown-item(href='#') Separated link
